In [661]:
import pandas as pd
import csv
import regex

In [662]:
teamsacr = ['CSK', 'DC', 'GT', 'KKR', 'LSG', 'MI', 'PBKS', 'RR', 'RCB', 'SRH']
teamsacr_before2022=['CSK','DC','KKR','MI','PBKS','RR','RCB','SRH']

In [663]:
team='PBKS' #input from the site
folder="2019"
bat_stats=pd.read_csv(f"{folder}/{team}_Batstats.csv")
player_details=pd.read_csv(f"{folder}/{team}_players.csv")
bowl_stats=pd.read_csv(f"{folder}/{team}_Bowlstats.csv")

In [664]:
bat_stats["player_name"]=bat_stats["player_name"].str.upper()
bowl_stats["player_name"]=bowl_stats["player_name"].str.upper()

In [665]:
bat_stats=pd.merge(bat_stats,player_details,on=["player_name"])
bat_stats

,player_name,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s,player_id,player_role
0,KL RAHUL,14,14,3,593,100*,53.90,438,135.38,1,6,49,25,PBKS100,WK Keeper - Batter
1,CHRIS GAYLE,13,13,1,490,99*,40.83,319,153.60,0,4,45,34,PBKS109,All-Rounder
2,MAYANK AGARWAL,13,13,0,332,58,25.53,234,141.88,0,2,26,14,PBKS106,Batter
3,DAVID MILLER,10,10,2,213,59*,26.62,164,129.87,0,1,19,7,PBKS103,Batter
4,SARFARAZ KHAN,8,5,1,180,67,45.00,143,125.87,0,1,19,4,PBKS104,Batter
5,NICHOLAS POORAN,7,6,0,168,48,28.00,107,157.00,0,0,10,14,PBKS101,Batter
6,MANDEEP SINGH,13,12,8,165,33*,41.25,120,137.50,0,0,10,4,PBKS102,Batter
7,SAM CURRAN,9,8,4,95,55*,23.75,55,172.72,0,1,13,3,PBKS111,All-Rounder
8,RAVICHANDRAN ASHWIN,14,6,1,42,17*,8.40,28,150.00,0,0,3,3,PBKS107,All-Rounder
9,HARPREET BRAR,2,1,1,20,20*,0.00,12,166.66,0,0,2,1,PBKS114,Bowler
10,PRABHSIMRAN SINGH,1,1,0,16,16,16.00,17,94.11,0,0,1,1,PBKS105,Batter
11,KARUN NAIR,1,1,0,5,5,5.00,6,83.33,0,0,0,0,PBKS110,All-Rounder
12,HARDUS VILJOEN,6,3,1,3,2*,1.50,7,42.85,0,0,0,0,PBKS121,Bowler
13,MURUGAN ASHWIN,10,3,2,3,1*,3.00,5,60.00,0,0,0,0,PBKS117,Bowler
14,MOHAMMAD SHAMI,14,2,1,1,1*,1.00,2,50.00,0,0,0,0,PBKS122,Bowler
15,MUJEEB UR RAHMAN,5,3,2,0,0*,0.00,4,0.00,0,0,0,0,PBKS120,Bowler
16,ANDREW TYE,6,1,1,0,0*,0.00,2,0.00,0,0,0,0,PBKS115,Bowler

In [666]:
bowl_stats=pd.merge(bowl_stats,player_details,on=["player_name"])
bowl_stats

,player_name,Mat,Inns,Ov,Runs,Wkts,BBI,Avg,Econ,SR,4w,5w,player_id,player_role
0,MOHAMMAD SHAMI,14,14,54,469,19,3/15,24.68,8.68,17.05,0,0,PBKS122,Bowler
1,RAVICHANDRAN ASHWIN,14,14,55,400,15,4/34,26.66,7.27,22.00,0,0,PBKS107,All-Rounder
2,SAM CURRAN,9,9,33,323,10,4/11,32.30,9.78,19.80,1,0,PBKS111,All-Rounder
3,HARDUS VILJOEN,6,6,23,222,7,2/39,31.71,9.65,19.71,0,0,PBKS121,Bowler
4,MURUGAN ASHWIN,10,10,34,255,5,3/21,51.00,7.50,40.80,0,0,PBKS117,Bowler
5,MUJEEB UR RAHMAN,5,5,19,191,3,3/27,63.66,10.05,38.00,0,0,PBKS120,Bowler
6,ARSHDEEP SINGH,3,3,10,109,3,5/32,36.33,10.90,20.00,0,0,PBKS119,Bowler
7,ANKIT RAJPOOT,4,4,16,152,3,5/14,50.66,9.50,32.00,0,0,PBKS116,Bowler
8,ANDREW TYE,6,6,22,233,3,5/17,77.66,10.59,44.00,0,0,PBKS115,Bowler
9,VARUN CHAKARAVARTHY,1,1,3,35,1,5/20,35.00,11.66,18.00,0,0,PBKS118,Bowler

In [667]:
#batter formula
bat_stats["total_score_bat"]=bat_stats["Runs"]*1.5+bat_stats["4s"]*0.5+bat_stats["6s"]-bat_stats["BF"]*0.5
bat_stats["total_score_bat"]/=10
bat_stats["total_score_bat"]+=(bat_stats["SR"]-120)/10+(bat_stats["Avg"]-30)/5
bat_stats=bat_stats.sort_values(by="total_score_bat",ascending=False)
bat_stats

,player_name,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s,player_id,player_role,total_score_bat
0,KL RAHUL,14,14,3,593,100*,53.90,438,135.38,1,6,49,25,PBKS100,WK Keeper - Batter,78.318
1,CHRIS GAYLE,13,13,1,490,99*,40.83,319,153.60,0,4,45,34,PBKS109,All-Rounder,68.726
2,MAYANK AGARWAL,13,13,0,332,58,25.53,234,141.88,0,2,26,14,PBKS106,Batter,42.094
3,DAVID MILLER,10,10,2,213,59*,26.62,164,129.87,0,1,19,7,PBKS103,Batter,25.711
5,NICHOLAS POORAN,7,6,0,168,48,28.00,107,157.00,0,0,10,14,PBKS101,Batter,25.050
4,SARFARAZ KHAN,8,5,1,180,67,45.00,143,125.87,0,1,19,4,PBKS104,Batter,24.787
6,MANDEEP SINGH,13,12,8,165,33*,41.25,120,137.50,0,0,10,4,PBKS102,Batter,23.650
7,SAM CURRAN,9,8,4,95,55*,23.75,55,172.72,0,1,13,3,PBKS111,All-Rounder,16.472
8,RAVICHANDRAN ASHWIN,14,6,1,42,17*,8.40,28,150.00,0,0,3,3,PBKS107,All-Rounder,4.030
9,HARPREET BRAR,2,1,1,20,20*,0.00,12,166.66,0,0,2,1,PBKS114,Bowler,1.266
10,PRABHSIMRAN SINGH,1,1,0,16,16,16.00,17,94.11,0,0,1,1,PBKS105,Batter,-3.689
11,KARUN NAIR,1,1,0,5,5,5.00,6,83.33,0,0,0,0,PBKS110,All-Rounder,-8.217
13,MURUGAN ASHWIN,10,3,2,3,1*,3.00,5,60.00,0,0,0,0,PBKS117,Bowler,-11.200
14,MOHAMMAD SHAMI,14,2,1,1,1*,1.00,2,50.00,0,0,0,0,PBKS122,Bowler,-12.750
12,HARDUS VILJOEN,6,3,1,3,2*,1.50,7,42.85,0,0,0,0,PBKS121,Bowler,-13.315
16,ANDREW TYE,6,1,1,0,0*,0.00,2,0.00,0,0,0,0,PBKS115,Bowler,-18.100
15,MUJEEB UR RAHMAN,5,3,2,0,0*,0.00,4,0.00,0,0,0,0,PBKS120,Bowler,-18.200

In [668]:
bowl_stats["total_score_bowl"]=bowl_stats["Wkts"]*20-bowl_stats["Econ"]*2-bowl_stats["SR"]*0.5-bowl_stats["Avg"]*2
bowl_stats["total_score_bowl"]/=10
bowl_stats=bowl_stats.sort_values(by="total_score_bowl",ascending=False)
bowl_stats

,player_name,Mat,Inns,Ov,Runs,Wkts,BBI,Avg,Econ,SR,4w,5w,player_id,player_role,total_score_bowl
0,MOHAMMAD SHAMI,14,14,54,469,19,3/15,24.68,8.68,17.05,0,0,PBKS122,Bowler,30.4755
1,RAVICHANDRAN ASHWIN,14,14,55,400,15,4/34,26.66,7.27,22.00,0,0,PBKS107,All-Rounder,22.1140
2,SAM CURRAN,9,9,33,323,10,4/11,32.30,9.78,19.80,1,0,PBKS111,All-Rounder,10.5940
3,HARDUS VILJOEN,6,6,23,222,7,2/39,31.71,9.65,19.71,0,0,PBKS121,Bowler,4.7425
4,MURUGAN ASHWIN,10,10,34,255,5,3/21,51.00,7.50,40.80,0,0,PBKS117,Bowler,-3.7400
6,ARSHDEEP SINGH,3,3,10,109,3,5/32,36.33,10.90,20.00,0,0,PBKS119,Bowler,-4.4460
7,ANKIT RAJPOOT,4,4,16,152,3,5/14,50.66,9.50,32.00,0,0,PBKS116,Bowler,-7.6320
9,VARUN CHAKARAVARTHY,1,1,3,35,1,5/20,35.00,11.66,18.00,0,0,PBKS118,Bowler,-8.2320
5,MUJEEB UR RAHMAN,5,5,19,191,3,3/27,63.66,10.05,38.00,0,0,PBKS120,Bowler,-10.6420
8,ANDREW TYE,6,6,22,233,3,5/17,77.66,10.59,44.00,0,0,PBKS115,Bowler,-13.8500

In [669]:
all_stats=pd.merge(bat_stats,bowl_stats,on="player_name",how="outer").fillna(0)
all_stats["total_score"]=all_stats["total_score_bat"]+all_stats["total_score_bowl"]
all_stats=all_stats.loc[all_stats["player_role_x"]=="All-Rounder"].sort_values(by="total_score",ascending=False)

In [670]:
t=dict(pd.concat([bat_stats.loc[bat_stats["player_role"]=="Batter"].head(4),bat_stats.loc[bat_stats["player_role"]=="WK Keeper - Batter"].head(1),all_stats.loc[all_stats["player_role_x"]=="All-Rounder"].head(3),bowl_stats.loc[bowl_stats["player_role"]=="Bowler"].head(3),],ignore_index=True)["player_name"])
lt=3
while(len(t)<=10):
    k=bowl_stats.loc[bowl_stats["player_role"]=="Bowler"]
    p = k.iloc[lt]["player_name"]
    lt=lt+1
    t[len(t)]=p
    
print(t)

{0: 'MAYANK AGARWAL', 1: 'DAVID MILLER', 2: 'NICHOLAS POORAN', 3: 'SARFARAZ KHAN', 4: 'KL RAHUL', 5: 'CHRIS GAYLE', 6: 'SAM CURRAN', 7: 'RAVICHANDRAN ASHWIN', 8: 'MOHAMMAD SHAMI', 9: 'HARDUS VILJOEN', 10: 'MURUGAN ASHWIN'}